@model TaskManagementApplication.Models.Task

@{
    ViewData["Title"] = "Delete Task Confirmation";
}

<div class="container mt-4">
    <h2 class="text-center mb-5">Delete Task</h2>
    <div class="alert alert-danger mb-5">
        <p class="mb-5">
            Are you sure you want to delete the task "
            <strong>@Model.Title</strong>"?
        </p>

        <form asp-action="Delete" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>    
</div>
